In [2]:
from PyTUPS import NOAAStudies

In [3]:
noaaStudies = NOAAStudies()

In [4]:
# bug 1: search_studies shall immediately return search results 
noaaStudies.search_studies(investigators="Khider")

In [5]:
noaaStudies.get_response()

,NOAAStudyId,studyName,dataType,earliestYearBP,mostRecentYearBP,earliestYearCE,mostRecentYearCE,studyNotes,scienceKeywords,Investigators,publications,sites
0,18315,Makassar Strait - Single specimens of P. obliq...,PALEOCEANOGRAPHY,1246,99,704,1851,"This dataset contains the d18O, d13C, and weig...","[Little Ice Age (LIA), ENSO, Medieval Climate ...","Deborah Khider, Lowell Stott, Julien Emile-Gea...","[{'NOAAStudyId': '18315', 'author': 'Khider, D...","{'53040': {'siteName': 'MD98-2177', 'locationN..."
1,8630,"Reuter et al. 2009 Cascayunga Cave, Peru 1000 ...",SPELEOTHEMS,862,-55,1088,2005,None,"[PAGES 2k Network, PAGES LOTRED SA2k]","Hai Cheng, R. Lawrence Edwards, Deborah Khider...","[{'NOAAStudyId': '8630', 'author': 'Cheng, H.;...","{'22935': {'siteName': 'Cascayunga Cave', 'loc..."
2,16055,Western Tropical Pacific SST and Isotope Data ...,PALEOCEANOGRAPHY,11031,199,-9081,1751,Benthic (Cibicicoides mundulus) foraminifera c...,None,"Deborah Khider, Charles Jackson, Lowell Stott","[{'NOAAStudyId': '16055', 'author': 'Stott, L....","{'19265': {'siteName': 'MD98-2181', 'locationN..."

In [6]:
# bug 2: {DOUBT} Shall clear() method be implemeneted while doing multiple searches with same object 

noaaStudies.search_studies(investigators="bhattacharya")

In [7]:
noaaStudies.get_response()

,NOAAStudyId,studyName,dataType,earliestYearBP,mostRecentYearBP,earliestYearCE,mostRecentYearCE,studyNotes,scienceKeywords,Investigators,publications,sites
0,18315,Makassar Strait - Single specimens of P. obliq...,PALEOCEANOGRAPHY,1246,99,704,1851,"This dataset contains the d18O, d13C, and weig...","[Little Ice Age (LIA), ENSO, Medieval Climate ...","Deborah Khider, Lowell Stott, Julien Emile-Gea...","[{'NOAAStudyId': '18315', 'author': 'Khider, D...","{'53040': {'siteName': 'MD98-2177', 'locationN..."
1,8630,"Reuter et al. 2009 Cascayunga Cave, Peru 1000 ...",SPELEOTHEMS,862,-55,1088,2005,None,"[PAGES 2k Network, PAGES LOTRED SA2k]","Hai Cheng, R. Lawrence Edwards, Deborah Khider...","[{'NOAAStudyId': '8630', 'author': 'Cheng, H.;...","{'22935': {'siteName': 'Cascayunga Cave', 'loc..."
2,16055,Western Tropical Pacific SST and Isotope Data ...,PALEOCEANOGRAPHY,11031,199,-9081,1751,Benthic (Cibicicoides mundulus) foraminifera c...,None,"Deborah Khider, Charles Jackson, Lowell Stott","[{'NOAAStudyId': '16055', 'author': 'Stott, L....","{'19265': {'siteName': 'MD98-2181', 'locationN..."
3,37258,Benguela Upwelling System Hydrogen and Carbon ...,PALEOCEANOGRAPHY,5183867,0,-5181917,1950,Hydrogen Isotopic Reconstruction of North Amer...,[hydrology],"Claire Rubbelke, Tripti Bhattacharya, Ran Feng...","[{'NOAAStudyId': '37258', 'author': 'Rubbelke,...","{'59689': {'siteName': 'ODP 1081', 'locationNa..."
4,36778,California Margin Hydrogen and Carbon Isotope ...,PALEOCEANOGRAPHY,3700000,0,-3698050,1950,Hydrogen Isotopic Reconstruction of North Amer...,"[Monsoon, hydrology]","Tripti Bhattacharya, Ran Feng, Jessica Tierney...","[{'NOAAStudyId': '36778', 'author': 'Bhattacha...","{'30617': {'siteName': 'ODP 1012', 'locationNa..."
5,39200,"Clayton Valley, Nevada Hydrogen and Carbon Iso...",PALEOLIMNOLOGY,2800000,0,-2798050,1950,Hydrogen and carbon isotopes of long-chain lea...,None,"Tripti Bhattacharya, Peter Brennan, Daniel Iba...","[{'NOAAStudyId': '39200', 'author': 'Gagnon, C...","{'60188': {'siteName': 'Clayton Valley', 'loca..."
6,38799,Eastern Equatorial Pacific Leaf Wax Isotope Da...,PALEOCEANOGRAPHY,4956,517,-3006,1433,Age assigned based on age models from Etournea...,None,"David Fastovich, Tripti Bhattacharya, Lina Pér...","[{'NOAAStudyId': '38799', 'author': 'Fastovich...","{'56876': {'siteName': 'ODP 1239', 'locationNa..."
7,36293,Eastern Pacific Alkenone Sea Surface Temperatu...,CLIMATE RECONSTRUCTIONS,144467,2430,-142517,-480,None,None,"Dervla Meegan Kumar, Jessica Tierney, Tripti B...","[{'NOAAStudyId': '36293', 'author': 'Meegan Ku...","{'19117': {'siteName': 'NH22P', 'locationName'..."
8,37679,Geochemical Proxies from a Northeast Mexico Sp...,SPELEOTHEMS,62500,5100,-60550,-3150,None,"[Interglacial, Younger Dryas, Heinrich Events,...","Gianna Lum, Jean-Louis Lacaille-Muzquiz, Kevin...","[{'NOAAStudyId': '37679', 'author': 'Kevin T. ...","{'59509': {'siteName': 'Cueva Bonita', 'locati..."
9,24890,Guaymas Basin 9-12kYrBP Leaf Wax Isotopes and ...,PALEOCEANOGRAPHY,24266,1460,-22316,490,Stable isotope (dD and d13C) data on leaf waxe...,[Monsoon],"Tripti Bhattacharya, Jessica Tierney, Jason Ad...","[{'NOAAStudyId': '24890', 'author': 'Tripti Bh...","{'53312': {'siteName': 'MD02-2515', 'locationN..."
10,17735,"Laguna de Aljojuca, Mexico 4000 Year Stable Is...",PALEOLIMNOLOGY,4139,-65,-2189,2015,Fluctuations in climate over the past 4000 cal...,[drought],"Tripti Bhattacharya, A. Roger Byrne, Harald Bö...","[{'NOAAStudyId': '17735', 'author': 'Tripti Bh...","{'56460': {'siteName': 'Laguna de Aljojuca', '..."
11,36793,Leaf Wax Hydrogen Isotope Data from the Chilea...,PALEOCEANOGRAPHY,24225,-26,-22275,1976,None,"[Last Glacial Maximum, westerlies]","Aria Blumm, Jessica Tierney, Tripti Bhattachar...","[{'NOAAStudyId': '36793', 'author': 'Blumm, Ar...","{'19251': {'siteName': 'ODP 1233', 'locationNa..."
12,33012,Mesoamerica Last Millennium Lake and Speleothe...,CLIMATE RECONSTRUCTIONS,1100,100,850,1850,Synthesis of lacustrine records of hydroclimat...,[Other Hydroclimate Reconstruction],"Tripti Bhattacharya, Sloan Coats","[{'NOAAStudyId': '33012', 'author': 'Tripti Bh...","{'58864': {'siteName': 'Mesoamerica', 'locatio..."
13,36513,Sea Surface Temperature Reconstructions in the...,CLIMATE RECONSTRUCTIONS,3880000,0,-3878050,1950,Alkenone-based SST reconstructions (unsaturati...,[Sea Surface Temperature Reconstruction],"Peter Brennan, Ellen Jorgensen, Jessica Tierne...","[{'NOAAStudyId': '36513', 'author': 'Brennan, ...",{'59535': {'siteName': 'Deep Sea Drilling Proj...
14,36733,Searles Valley Plant Wax Carbon and Hydrogen I...,PALEOLIMNOLOGY,3370000,2710000,-3368050,-2708050,"Provided Keywords: biomarker, plant wax, carbo...",[Air Temperature Reconstruction],"Mark Peaple, Tripti Bhattacharya, Tim Lowenste...","[{'NOAAStudyId': '36733', 'author': 'Peaple, M...",{'59589': {'siteName': 'Searles Valley U234 KM...
15,36393,"Searles Valley, CA Plant Wax Carbon, Hydrogen ...",PALEOLIMNOLOGY,200000,3,-198050,1947,"Provided Keywords: biomarker, plant wax, carbo...","[Interglacial, Air Temperature Reconstruction,...","Mark Peaple, Tripti Bhattacharya, Tim Lowenste...","[{'NOAAStudyId': '36393', 'author': 'Mark D. P...","{'58651': {'siteName': 'Searles Valley', 'loca..."
16,31972,"Searles Valley, California Latest Pleistocene ...",PALEOLIMNOLOGY,200000,-65,-198050,2015,Lake sediment and modern plant wax data (n-alk...,None,"Mark Peaple, Jessica Tierney, David McGee, Tim...","[{'NOAAStudyId': '31972', 'author': 'Mark D. P...","{'58651': {'siteName': 'Searles Valley', 'loca..."
17,38781,"Southern Great Basin strontium isotope, pollen...",PALEOLIMNOLOGY,226,0,1724,1950,"Provided Keywords: strontium isotopes, pollen,...","[Earth Surface Conditions Reconstruction, hydr...","Tim Lowenstein, Justin Stroup, Kristian Olson,...","[{'NOAAStudyId': '38781', 'author': 'Kathleen ...","{'60376': {'siteName': 'Owen's Valley (OV)', '..."

In [8]:
# bug 3: store IDs as integers, check for other inconsistencies in datatypes

noaaStudies.get_publications(study_ids=['18315', '16055', '39200', '36778'])

,NOAAStudyId,author,title,journal,year,volume,number,pages,type,doi,url
0,18315,"Khider, D., L. Stott, J. Emile-Geay, R. Thunel...",Assessing El Nino Southern Oscillation variabi...,Paleoceanography,2011,26,None,None,publication,10.1029/2011PA002139,http://dx.doi.org/10.1029/2011PA002139
0,16055,"Stott, L.D., K.G. Cannariato, R.C. Thunell, G....",Decline of surface temperature and salinity in...,Nature,2004,431,None,56-59,publication,10.1038/nature02903,http://dx.doi.org/10.1038/nature02903
1,16055,"Stott, L.D., A. Timmermann, and R.C. Thunell",Southern Hemisphere and Deep-Sea Warming Led D...,Science,2007,318,5849,435-438,publication,10.1126/science.1143791,http://dx.doi.org/10.1126/science.1143791
2,16055,"Khider, D., C.S. Jackson, and L.D. Stott",Assessing millennial-scale variability during ...,Paleoceanography,2014,29,3,143-159,publication,10.1002/2013PA002534,http://dx.doi.org/10.1002/2013PA002534
0,39200,"Gagnon, Catherine; Butler, Kristina L.; Gaviri...",Paleoclimate controls on lithium enrichment in...,Geological Society of America Bulletin,2023,135,11-12,3201-3212,publication,10.1130/B36572.1,http://dx.doi.org/10.1130/B36572.1
1,39200,"Coffe, D.M.; Munk, L.A.; Ibarra, D.E.; Butler,...",Lithium Storage and Release From Lacustrine Se...,"Geochemistry, Geophysics, Geosystems",2021,22,12,None,publication,10.1029/2021GC009916,http://dx.doi.org/10.1029/2021GC009916
2,39200,"Bhattacharya, Tripti; Brennan, Peter R; Ibarra...",Pleistocene shifts in Great Basin hydroclimate...,Quaternary Science Reviews,2024,None,None,None,publication,NaN,NaN
0,36778,"Bhattacharya, Tripti; Feng, Ran; Tierney, Jess...",Expansion and Intensification of the North Ame...,AGU Advances,2022,3,6,None,publication,10.1029/2022AV000757,http://dx.doi.org/10.1029/2022AV000757

In [9]:
noaaStudies.get_publications(study_ids=['16055'], output_format="bibtex")

BibliographyData(
  entries=OrderedCaseInsensitiveDict([
    ('Lund_Decline_2004_16055', Entry('article',
      fields=[
        ('author', 'Stott, L.D., K.G. Cannariato, R.C. Thunell, G.H. Haug, A. Koutavas, and S.P. Lund'),
        ('title', 'Decline of surface temperature and salinity in the western tropical Pacific Ocean in the Holocene epoch'),
        ('journal', 'Nature'),
        ('year', '2004'),
        ('volume', '431'),
        ('pages', '56-59'),
        ('type', 'publication'),
        ('doi', '10.1038/nature02903'),
        ('url', 'http://dx.doi.org/10.1038/nature02903')],
      persons=OrderedCaseInsensitiveDict([]))),
    ('Thunell_Southern_2007_16055', Entry('article',
      fields=[
        ('author', 'Stott, L.D., A. Timmermann, and R.C. Thunell'),
        ('title', 'Southern Hemisphere and Deep-Sea Warming Led Deglacial Atmospheric CO2 Rise and Tropical Warming'),
        ('journal', 'Science'),
        ('year', '2007'),
        ('volume', '318'),
        ('number', '5849'),
        ('pages', '435-438'),
        ('type', 'publication'),
        ('doi', '10.1126/science.1143791'),
        ('url', 'http://dx.doi.org/10.1126/science.1143791')],
      persons=OrderedCaseInsensitiveDict([]))),
    ('Stott_Assessing_2014_16055', Entry('article',
      fields=[
        ('author', 'Khider, D., C.S. Jackson, and L.D. Stott'),
        ('title', 'Assessing millennial-scale variability during the Holocene: a perspective from the western tropical Pacific'),
        ('journal', 'Paleoceanography'),
        ('year', '2014'),
        ('volume', '29'),
        ('number', '3'),
        ('pages', '143-159'),
        ('type', 'publication'),
        ('doi', '10.1002/2013PA002534'),
        ('url', 'http://dx.doi.org/10.1002/2013PA002534')],
      persons=OrderedCaseInsensitiveDict([])))]),

  preamble=[])

In [10]:
noaaStudies.get_sites(study_ids=['18315', '16055', '39200', '36778'])

,siteName,locationName,lat,lon,minElevationMeters,maxElevationMeters,NOAASiteId,NOAADataTableId,dataTableName,timeUnit,fileUrl,variables
NOAAStudyId,,,,,,,,,,,,
18315,MD98-2177,Ocean>Pacific Ocean>Western Pacific Ocean,1.4033,119.078,-968,-968,53040,28674,MD98-2177 isotopes Khider11,CE,https://www.ncei.noaa.gov/pub/data/paleo/contr...,"[None, None, None, None, None, None, None]"
16055,MD98-2181,Ocean>Pacific Ocean>Western Pacific Ocean,6.3,125.83,-2114,-2114,19265,26023,MD98-2181 Raw K14,None,https://www.ncei.noaa.gov/pub/data/paleo/contr...,"[notes, depth_cm, Mg/Ca-g.rub-w, d13Cg.rub-w, ..."
16055,MD98-2181,Ocean>Pacific Ocean>Western Pacific Ocean,6.3,125.83,-2114,-2114,19265,26024,MD98-2181 Benthic K14,cal yr BP,https://www.ncei.noaa.gov/pub/data/paleo/contr...,"[depth_cm, age_calBP, age2.5%, age34%, age68%,..."
16055,MD98-2181,Ocean>Pacific Ocean>Western Pacific Ocean,6.3,125.83,-2114,-2114,19265,26025,MD98-2181 SST K14,cal yr BP,https://www.ncei.noaa.gov/pub/data/paleo/contr...,"[depth_cm, age_calBP, Mg/Ca-g.rub-w, d18Og.rub..."
39200,Clayton Valley,Continent>North America>United States Of Ameri...,37.74,-117.59,1400,1400,60188,51986,Clayton_Valley_EXP2 C and H isotopes Bhattacha...,cal yr BP,https://www.ncei.noaa.gov/pub/data/paleo/paleo...,"[dD_wax_C26_err, d13C_C26_wax, d13C_wax_C26_er..."
39200,Clayton Valley,Continent>North America>United States Of Ameri...,37.74,-117.59,1400,1400,60188,51987,"Clayton_Valley_EXP2 d18O, Lithium, Inorganic C...",cal yr BP,https://www.ncei.noaa.gov/pub/data/paleo/paleo...,"[publication, K2O_perc, depth, age_ka, d18o_ca..."
36778,ODP 1012,Ocean>Pacific Ocean>North Pacific Ocean,32.28,-118.38,-1783,-1783,30617,49503,ODP1012-leafwax Bhattacharya2022,cal yr BP,https://www.ncei.noaa.gov/pub/data/paleo/paleo...,"[age_ma, dD_wax, dD_wax_err, d13C_wax, d13C_wa..."
36778,DSDP 475,Ocean>Pacific Ocean>Eastern Pacific Ocean,23.03,-109.03,-2631,-2631,59597,49502,DSDP475-leafwax Bhattacharya2022,cal yr BP,https://www.ncei.noaa.gov/pub/data/paleo/paleo...,"[age_ma, dD_wax, dD_wax_err, d13C_wax, d13C_wa..."

In [11]:
data = noaaStudies.get_data(dataTableIDs=['28674', '26025'])

https://www.ncei.noaa.gov/pub/data/paleo/contributions_by_author/khider2011/khider2011.txt
https://www.ncei.noaa.gov/pub/data/paleo/contributions_by_author/khider2014/khider2014-sst.txt

In [12]:
data[0]

,depth_top,depth_bottom,age_ADbot,age_ADtop,d13CcarbVPDB,d18OcarbVPDB,wgt-ind\r
0,0,1,1843,1851,0.936,-2.254,34\r
1,0,1,1843,1851,0.895,-2.356,37\r
2,0,1,1843,1851,0.514,-2.63,20\r
3,0,1,1843,1851,0.9,-2.48,25\r
4,0,1,1843,1851,0.957,-2.094,29\r
...,...,...,...,...,...,...,...
1160,96,98,704,734,0.711,-1.719,23\r
1161,96,98,704,734,0.852,-1.69,23\r
1162,96,98,704,734,0.68,-2.093,18\r
1163,96,98,704,734,0.69,-2.023,17\r
1164,96,98,704,734,0.629,-2.361,43\r

In [13]:
data[0].attrs

{'NOAAStudyId': '18315',
 'StudyName': 'Makassar Strait - Single specimens of P. obliquiloculata d18O and d13C from 704-1851 AD',
 'SiteName': 'MD98-2177',
 'Lat': '1.4033',
 'Lon': '119.078',
 'minElevationMeters': '-968',
 'maxElevationMeters': '-968'}

In [14]:
data[1]

,depth_cm,Mg/Ca-g.rub-w,d18Og.rub-w,age_calyrBP,age-2.5%,age-34%,age-68%,age-97.5%,SST,SST-2.5%,SST-34%,SST-68%,SST-97.5%,Î´18Osw,Î´18Osw 2.5%,Î´18Osw 34%,Î´18Osw 68%,Î´18Osw 97.5%\r
0,1.0,5.21,-999.990,199,-63,96,237,428,27.80,26.88,27.63,28.04,28.74,-999.99,-999.99,-999.99,-999.99,-999.99\r
1,2.5,5.04,-2.830,205,-53,104,242,429,27.41,26.47,27.23,27.65,28.35,0.02,-0.32,-0.05,0.10,0.35\r
2,3.0,-999.99,-2.810,207,-50,107,244,430,-999.99,-999.99,-999.99,-999.99,-999.99,-999.99,-999.99,-999.99,-999.99,-999.99\r
3,4.0,-999.99,-2.780,211,-44,112,248,432,-999.99,-999.99,-999.99,-999.99,-999.99,-999.99,-999.99,-999.99,-999.99,-999.99\r
4,5.0,5.10,-2.788,216,-38,117,252,433,27.55,26.58,27.36,27.79,28.49,0.09,-0.25,0.01,0.17,0.43\r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,831.0,-999.99,-2.580,9604,9450,9563,9649,9764,-999.99,-999.99,-999.99,-999.99,-999.99,-999.99,-999.99,-999.99,-999.99,-999.99\r
451,836.0,5.14,-2.650,9722,9565,9677,9770,9886,27.64,26.67,27.46,27.87,28.59,0.01,-0.33,-0.06,0.09,0.34\r
452,839.0,5.77,-2.620,9793,9634,9747,9844,9960,28.95,28.08,28.77,29.17,29.88,0.30,-0.04,0.23,0.38,0.63\r
453,843.0,5.45,-2.640,9888,9726,9839,9942,10059,28.30,27.42,28.14,28.53,29.19,0.13,-0.20,0.07,0.22,0.47\r
454,846.0,5.42,-2.530,9960,9794,9909,10015,10134,28.24,27.33,28.06,28.47,29.16,0.22,-0.10,0.15,0.31,0.56\r

In [15]:
data[1].attrs

{'NOAAStudyId': '16055',
 'StudyName': 'Western Tropical Pacific SST and Isotope Data From MD98-2181 During the Holocene',
 'SiteName': 'MD98-2181',
 'Lat': '6.3',
 'Lon': '125.83',
 'minElevationMeters': '-2114',
 'maxElevationMeters': '-2114'}

In [16]:
data_file_url = noaaStudies.get_data(file_urls=['https://www.ncei.noaa.gov/pub/data/paleo/contributions_by_author/khider2014/khider2014-raw.txt'])

https://www.ncei.noaa.gov/pub/data/paleo/contributions_by_author/khider2014/khider2014-raw.txt

In [18]:
data_file_url[0]

,depth_cm,Mg/Ca-g.rub-w,d18Og.rub-w,d13Cg.rub-w,d18Oc.mund,d13Cc.mund,notes\r
0,1,5.21,-999.90,-999.90,-999.90,-999.90,"data from Stott et al. (2004, 2007)\r"
1,1,-999.90,-999.90,-999.90,-0.30,2.45,\r
2,2.5,5.04,0.76,-2.83,-999.90,-999.90,\r
3,3,-999.90,1.53,-2.81,-999.90,-999.90,"data from Stott et al. (2004, 2007)\r"
4,4,-999.90,0.90,-2.78,-999.90,-999.90,\r
...,...,...,...,...,...,...,...
842,843,5.45,0.80,-2.64,-999.90,-999.90,"data from Stott et al. (2004, 2007)\r"
843,845,-999.90,-999.90,-999.90,-0.44,2.91,\r
844,847,5.42,0.75,-2.53,-999.90,-999.90,"data from Stott et al. (2004, 2007)\r"
845,849,-999.90,-999.90,-999.90,-0.29,2.73,\r
846,851,5.71,0.78,-2.36,-999.90,-999.90,"data from Stott et al. (2004, 2007)\r"